:root {
  --background: hsl(0, 0%, 8%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(75, 94%, 57%);
  --font: "Inter", sans-serif;
  --background-profile: hsl(0, 0%, 12%);
  --bacground-button: hsl(0, 0%, 20%);
}
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font);
}

p {
  font-weight: 200;
  margin-top: 5px;
  font-size: 12px;
}

img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 400;
}

.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 12rem;
  text-align: center;
  background-color: var(--background-profile);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 0.7rem;
}

button {
  border-radius: 5px;
  padding: 0.5rem 0;
  color: var(--text-primary);
  background-color: var(--bacground-button);
  border: none;
  font-weight: 600;
  font-size: 12px;
  transition: background-color 1s;
}

button:hover {
  background-color: var(--text-secondary);
  cursor: pointer;
  color: var(--background);
}

/* MOBILE */

@media (max-width: 400px) {
  .profile {
    width: 70%;
  }
}
